.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  color: white;
}

.App-text-header {

  font-size: calc(30px + 2vmin);
  margin-bottom: 5px;
  font-weight: 600;
}

.App-text-subheader {

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-text-subheader2 {

  font-size: calc(8px + 2vmin);
  color: white;
  margin-top: 5px;
}

.App-video {
  height: 30vh;
}